.techStack{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px;
}

.techStack img {
    height: 100px;
    padding: 20px;
}