.contactMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
    height: 350px;
}

.contactMe form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.contactMe form button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
}