.projectCard {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(29, 2, 231, 0.279);
}

.sectionRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.about {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.about h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about p {
    font-size: 16px;
}

.imgDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;   
    height: 200px;
    padding-right: 20px;
}

.imgDiv img {
    max-width: 100%;
    max-height: 100%;
    min-width: 80px;
    border-radius: 5px;
}

.technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.technologies span {
    padding: 10px;
    border: 1px solid rgb(13, 0, 255);
    border-radius: 20px;
    background-color: rgba(0, 0, 254, 0.093);
    box-shadow: 0px 0px 10px 2px rgba(0,2,255,0.15);
    font-size: 12px;
}