.projectCard {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(29, 2, 231, 0.279);
}

.about {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.about h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about p {
    font-size: 16px;
}

.imgDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 200px;
    padding-right: 20px;
}

.imgDiv img {
    max-width: 100%;
    max-height: 100%;
    min-width: 80px;
    border-radius: 5px;
}
