.aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    min-width: 100px;
}

.aside nav {
    position: fixed;
    top: 50%;
}

.aside nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  list-style-type: none;
}

.hamburger {
  display: none;
}

.backdrop {
  display: none;
}
