@media (min-width: 0px) and (max-width: 480px) {
   .aside {
        min-width: 0px;
        width: 0px;
        padding: 0px;
        overflow: hidden;
        transform: translateX(-100%);
    }
}  

@media (min-width: 481px) and (max-width: 768px) {
    .aside {
        min-width: 0px;
        width: 0px;
        padding: 0px;
        overflow: hidden;
        transform: translateX(-100%);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .aside {
        min-width: 0px;
        width: 0px;
        padding: 0px;
        overflow: hidden;
        transform: translateX(-100%);
    }
}
