@media (min-width: 0px) and (max-width: 480px) {
    .card {
        flex-direction: column;
    } 
    .divImage {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
