@import "ExperienceCard.module.responsive.css";

.cardsContainer {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin-top: 30px;
}

.card {
    display: flex;
    gap: 25px;
    padding: 24px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card:last-child {
    border-bottom: none;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.companyName {
    font-size: 24px;
    font-weight: bold;
}

.role {
    font-size: 18px;
    opacity: 0.9;
}

.period {
    font-size: 14px;
    opacity: 0.6;
}

.description {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin-top: 6px;
}
