.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    gap: 50px;
    height: 600px;
}

.imgContainer{
    display: flex;
    align-items: center;
}

.hero img {
    border-radius: 180px;
    height: 30%;
}

.hero article {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.hero h1 {
    font-size: 42px;
    font-family: var(--font-source-code-light);
}

.hero article p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    font-weight: 900;
}